<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
</head>
<body>
    <h1>BuddyTalk</h1>
    <div class="chat">
        <% chats.forEach(function(chat) { %>
            <div class="chat-message">
                <p><h3><b>From:</b>&nbsp;<%= chat.from %></h3><h5><%= chat.message %></h5></p>
                <p><h3><b>Recieved By:</b>&nbsp; <%= chat.to %></h3></p>
                <p><em><%= chat.timestamp.toLocaleString() %></em></p>
                <div class="btn-container">
                <button class="delete-button" onclick="location.href='/Chats/Delete/<%= chat._id %>';">Delete Message</button>
                <button class="edit-button" onclick="location.href='/Chats/Edit/<%= chat._id %>';">Edit Message</button>
                </div>
            </div>
        <% }); %>
    </div>
    <form action="/Chats/Create" method="get">
        <button type="submit">Create New Message</button>
    </form>
</body>
</html>